<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.providers.downloads.ui"
        android:sharedUserId="android.media">

    <uses-permission android:name="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />

    <application android:process="android.process.media"
                 android:label="@string/app_label"
                 android:icon="@mipmap/ic_launcher_download"
                 android:hardwareAccelerated="true"
                 android:supportsRtl="true"
                 android:requiredForAllUsers="true">

        <activity android:name=".DownloadList"
                  android:launchMode="singleTop"
                  android:theme="@android:style/Theme.Holo.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW_DOWNLOADS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LiveFolderConfigActivity"
                  android:permission="com.cyanogenmod.trebuchet.permission.MANAGE_LIVE_FOLDERS"
                  android:theme="@android:style/Theme.NoDisplay">
                <intent-filter>
                   <action android:name="cyanogenmod.intent.action.CREATE_LIVE_FOLDER" />
                </intent-filter>
        </activity>

        <receiver android:name=".LiveFolderReceiver"
                  android:permission="com.cyanogenmod.trebuchet.permission.MANAGE_LIVE_FOLDERS"
                  android:exported="true">
                 <intent-filter>
                    <action android:name="cyanogenmod.intent.action.LIVE_FOLDER_UPDATES" />
                </intent-filter>
        </receiver>
    </application>
</manifest>
